/* Existing styles for tooltips, chart titles, etc. */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  .chart-title,
  .source-credit {
    font-family: sans-serif;
  }
  
  #main-container {
    display: flex;
    margin-top: 10px;
  }
  
  #right-container {
    width: 300px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    margin-right: 800px; /* Space between right-container and chart */
    margin-top: 100px;
  }
  
  #form-container {
    margin-bottom: 20px;
  }

  #slider-container {
    /* Additional styles if needed */
    width: 400px;
    overflow: visible;
  }
  
 
  
  #chart-container {
    flex: 1;
    margin-left: 1px;
    margin-top: 50px;

    /* Remove margin-left if present */
  }

  /* Styles for the table container */
#table-container {
  margin-top: 20px; /* Add space above the table container */
}

#table-container p{
  margin-left: 20px; /* Add space above the table container */
}

/* New styles for search-controls */
#search-controls {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

#search-controls b {
  margin: 0;
  margin-right: 30px; /* Space between text and button */
  font-size: large
}
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 1200px) {
    #main-container {
      flex-direction: column;
    }
  
    #chart-container,
    #right-container {
      width: 100%;
      margin-right: 0;
    }
  
    #chart-container {
      margin-top: 20px;
    }
  }